<left>
    <h2 class="github-title">Github Repo</h2>

    <h3 class="github-title">ECS CI/CD HOL</h3>
    <a class="github-button" href="https://github.com/blackdog0403/ecs-cicd-hol" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
    &nbsp;<a class="github-button" href="https://github.com/blackdog0403/ecs-cicd-hol/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a><br />

    
    <br>
    <!-- If your website use cookie , add links below -->  
    <!-- <script src="{{"js/shortbreadv1.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script> -->

    <a href="https://aws.amazon.com/ko/privacy/">Privacy</a> | <a href="https://aws.amazon.com/terms/">Site terms</a> | © 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved.
    <!-- If your website use cookie , add links below next to site terms -->  
    <!-- <a href="javascript:AWSCShortbread().customizeCookies()">Cookie preferences</a>  --> 
    
</left>



<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script> 